.popup__input {
    border: 0;
    border-bottom: 1px solid #bcbcc4;
    width: calc(100% - 72px);
    margin: 0 0 30px 22px;
    padding: 0 0 13px 0;
    outline:none;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}