.popup__name {
  margin: 34px 0 18px 36px;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  width: calc(100% - 100px);
}

@media screen and (max-width: 550px) {
  .popup__name {
    width: calc(100% - 44px);
    margin: 25px auto 75px;
  }
}

@media screen and (max-width: 320px) {
  .popup__name {
    width: calc(100% - 50px);
    font-size: 18px;
    line-height: 21.78px;
  }
}