.profile__details {
    font-family: Inter, Arial, sans-serif;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    grid-area: subtitle;
    line-height: 22px;
    margin: 0;
    max-width: 336px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media screen and (max-width: 700px) {
    .profile__details {
        justify-self: center;
        padding-top: 14px;
        line-height: 17px;
    }
}

@media screen and (max-width: 320px) {
    .profile__details {
        font-size: 14px;
    }
}